.film{
    margin: 0 auto;
    margin-left: 30%;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 3px #aaa;
<<<<<<< HEAD
   margin-top: 5%;
=======
>>>>>>> 82e9ba9025cbd23afd8990793ce6cab3fc2af049
}