html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio,
video {	margin: 0; 	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table {	border-collapse: collapse; border-spacing: 0; }
/* ***************************************************** */
/****************************************************************************
BASIC STYLES
****************************************************************************/
body { background: #fff; color: #7c7d80;
	font: 13px 'irsans'!important;; }
a { color: #7c7d80; text-decoration: none !important; }
a:visited { /*color: #551a8b;*/ }
a:hover { /*color: #06e;text-decoration: underline; */}
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
h1, h2, h3, h4, h5, h6 { color: #616266;; }
h1 { font:28px 'irsans'; font-weight: 400; }
h1 a { color: #7c7d80; }
h2 {  font:20px 'irsans'; }
h2 a { color: #7c7d80; }
h3 { font:13px 'irsans';  font-weight: 400;}
h3 a { color: #7c7d80; }
h4 {font:15px 'irsans';  }
h4 a { color: #7c7d80; }
h5 { font:13px 'irsans'; }
h5 a { color: #7c7d80; }
h6 { font:20px'irsans';  }
h6 a { color: #7c7d80; }
ul {}
ul li {}
ul li a {}
ol {}
ol li {}
ol li a {}
p strong { font-weight: bold; }
p em { font-style: italic; }
p {font:15px 'irsans';}
blockquote {}
blockquote p {}
::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/****************************************************************************
/* slider brands */
#jssor_1{
	position:relative;
	margin:0 auto;
	top:0;left:0;
	width:1200px;
	height:100px;
	overflow:hidden;
	visibility:hidden;
}
#jssor_5{
	cursor:default;
	position:relative;
	top:0px;left:0px;
	width:1200px;
	height:100px;
	overflow:hidden;
}
/*end of brand */
input[type="button"],input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0; padding:0;}
p {margin: 0;}
html, body{
	font-family: 'irsans' !important;
	font-size: 100%;
	background: #ffffff;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.row{
	margin:0;
}
.breadcrumb{
	margin:2em 0;
}
/*-- header_top --*/
.top_bg{
	background: #801416;
	position: fixed;
	width: 100%;
	z-index: 99999;
	font-family: 'irsans';
	font-size: 13px;
	box-shadow: 0 2px 3px #7c7d80;
	border-bottom: 2px solid #FF0000;
	color: #7c7d80 !important;
}
.header_top-sec{
	padding: 15px 0 8px;
}
.top_bg p{
	color: #0e0e0e !important;
}
.logo img{
	width:100%;
}
.header_top{

	padding: 4.5em 0 0 0 !important;
}
.user-info{
	width: 50%;
	overflow: hidden;
	margin-top: 10px;
	margin-right: 0;
	float: right;
}

.user-info p a{
	display: block;
	float: right;
	font-size: 13px;
	padding: 0 10px 0 10px;
	transition: all 0.3s ease 0s;
	direction: rtl;
	color: #FFFFFF !important;
}
.user-info p a:hover{
	color: #fff05b !important;
}
.user-info p {
	color: #48441a !important;
}
.user-info p a i{
	color: #FF0000 !important;
}
.top-call-to-acction{
	direction: rtl;

}
.top-call-to-acction p{
	margin: 0;
}
.top-call-to-acction p a{
	color: #FFFFFF !important;
	display: block;
	float: left;!important;
	font-size: 16px;
	font-weight: 400;
	height: 34px;
	padding-right: 40px;
	padding-top: 10px;
}
.top-call-to-acction p a i{
	color: #FF0000;
	display: block;
	float: left;
	font-size: 15px;
	line-height: 18px;
	padding-right: 9.5px;
	position: relative;
	top: -3px;
}

.top_left{
	float: left;
	color:#fff;
	position: relative;
	margin-top: 0;
}
.top_right{
	float:right;
	color: #ffffff;
	margin-top: 3px;
}
.top_right ul,.top_left ul{
	padding:0;
	list-style:none;
	display: inline-block;
	vertical-align: middle;
}
.social {
	display: inline-block;
}
.top_right ul li:last-child{
	margin-right: 0;
}
.top_right ul li a{
	text-align:center;
	padding: 0 4px;
	text-transform:uppercase;
	font-size:15px;
	display:block;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.top_left ul li a{
	text-align:center;
	padding: 0 4px;
	font-size:15px;
	color:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.top_right ul li a:hover,.top_left ul li a:hover{
	text-decoration: none;
}
.item_add:hover{
}
.grid_1 img{
	margin-bottom:1em;
}
span.item_price {
	color: #3f3d3d;
	font-size: 1.2em;
	font-weight: 400;
	text-align: center;
}
select.item_Size {
	display: block;
	border: 1px solid #999;
	font-size: 0.85em;
	color: #000;
	padding: 5px 10px;
	margin-top: 1em;
}
.item_add  a{
	background: rgb(9, 209, 182);
	border: none;
	color: #fff;
	padding: 10px 20px;
	font-size: 0.85em;
	border: none;
}
/* header sale  basket*/
.search-and-cart{}
.search-categori{
	box-shadow: 0 0 0 3px rgba(124, 125, 128, 1);
	display: block;
	float: left;
	height: 44px;
	margin-top: 14px;
	position: relative;
	width: 65.7%;
}
.categori{
	float: left;
	overflow: hidden;
	width: 135px;
}
.categori select{
	background: rgba(0, 0, 0, 0) url("../images/caret.jpg") no-repeat scroll 115px 19px;
	border: medium none;
	border-radius: 0;
	color: #464646;
	font-family: "irsans",sans-serif;
	font-size: 13px;
	height: 45px;
	margin-top: 1px;
	padding-left: 10px;
	font-weight: 700;
	text-transform: uppercase;
	width: 135px;
}
.ie9 .categori select{
	padding-top: 13px!important;
}
.categori select option{
	border: inherit;
	font-size: 13px;
	font-weight: 400;
	padding: 5px 10px;
	text-transform: inherit !important;
	width: 220px;
}
.search-box{
	overflow: hidden;
	border-left: 1px solid #e4e4e4;
	height: 45px;
}
.search-box input[type=text]{
	border: medium none;
	border-radius: 0;
	float: right;
	width: 438px;
	background: #fff;
	border: 0 none;
	color: #464646;
	font-size: 13px;
	height: 44px;
	line-height: 44px;
	text-align: right;
	direction: rtl;
	font-family: "irsans"
}
.search-box button{
	border: medium none;
	float: left;
	width: 101px;
	left: 0;
	background: #7c7d80 none repeat scroll 0 0;
	border-bottom: 2px solid #801416;
	border-radius: 1px;
	box-shadow: 0 0 0 3px rgba(124, 125, 128, 1);
	color: #fff;
	font-family: "irsans",sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 36px;
	height: 44px;
	padding: 5px 20px 1px;
	position: absolute;
	text-align: center;
	transition: all 300ms ease 0s;
}
.search-box button:hover{
	background: #FF0000;
	border-color: #FF0000;
}
.shoping-cart{
	float: right;
	margin-top: 15px;
	text-align: center;
	width: 164px;
	position: relative;
}
.shoping-cart a span{
	background: #7c7d80 url("../images/cart.png") no-repeat scroll 10px 9px;
	border-bottom: 2px solid #801416;
	box-shadow: 0 0 0 3px rgba(124, 125, 128, 1);
	color: #fff;
	display: block;
	font-family: "irsans",sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 36px;
	overflow: hidden;
	padding: 5px 10px 1px 40px;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: break-word;
	direction: rtl;
}
.shoping-cart a i{}
.shoping-cart:hover .add-to-cart-product{
	opacity: 1;
	transform: scaleY(1);
	visibility: visible;
}
.add-to-cart-product{
	background: #fff none repeat scroll 0 0;
	border-top: 2px solid #FFA200;
	box-shadow: 2px 0 7px 0 rgba(0, 0, 0, 0.13);
	color: #fff;
	height: auto;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 110%;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	width: 270px;
	z-index: 1000000000;
}
.cart-product{
	font-weight: normal;
	overflow: hidden;
	padding: 15px;
	border-top: 1px solid #ccc;
	position: relative;
}
.product-item11{
	border-top: 0 solid #ccc;
}
.cart-product-image{
	float: right;
	width: 82px;
	margin-right: 15px;
}
.cart-product-image a{
	border: 1px solid #ebebeb;
	float: left;
	margin-right: 15px;
}
.cart-product-image a img{
	width: 100%;
}
.cart-product-info{
	float: left;
	margin-top: -2px;
	width: 125px;
	text-align: right;
	direction: rtl;
	padding-right: 5px;
}
.cart-product-info p{
	color: #000;
	display: block;
	font-size: 12px;
	margin-bottom: -3px;
	overflow: hidden;
}
.cart-product-info span{
	color: #000;
	font-size: 14px;
	padding-right: 0px;
	text-transform: uppercase;
}
.cart-product-info p a{
	color: #000;
	display: inline-block;
	font-size: 13px;
	line-height: 18px;
	padding-left: 5px;
	text-transform: capitalize;
}
.cart-product-info p a:hover{
	color: #9c9b9b;
}
.cart-product-info a{
	color: #000;
	display: block;
	margin-bottom: 9px;
	font-size: 12px;
}
.cart-product-info a:hover{
	color: #fe5b5a;
}
.cart-product-info span.price{
	color: #3f3f3f;
	font-family: 'irsans' !important;
	font-size: 14px;
}
.cart-product-remove{
	position: absolute;
	right: 15px;
	top: 22px;
	width: 20px;
}
.cart-product-remove i{
	background: #000;
	border-radius: 100%;
	color: #fff;
	display: table-cell;
	font-size: 15px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	width: 20px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.cart-product-remove i:hover{
	background: #9c9b9b;
}

.cart-product-line{
	border-top: 1px solid #515151;
	overflow: hidden;
	padding: 7px 0;
	direction: rtl;
}
.fast-line{
	border-top: 0 solid #515151;
}
.cart-product-line span{
	color: #000;
	font-weight: bold;
}
.cart-product-line span.free-shiping{
	color: #000;
	float: left;
	font-size: 14px;
}
.cart-product-line span.total{
	color: #000;
	font-size: 14px;
	font-family: 'irsans' !important;
	float: left;
}
.cart-checkout{
	margin-top: 25px;
	padding: 0 15px;
	margin-bottom: 15px;
	direction: rtl;
}
.cart-checkout a{
	background: #363636 none repeat scroll 0 0;
	border: 1px solid #363636;
	color: #fff;
	font-family: "irsans",sans-serif;
	font-size: 12px;
	display: block;
	font-weight: 700;
	padding: 11px 0 7px;
	text-transform: uppercase;
	text-align: center;
	transition: all 300ms ease 0s;
}
.cart-checkout a:hover{
	background: #FFA200;
	border: 1px solid #FFA200;
	color: #fff;
}
.cart-checkout a i{
	padding-left: 5px;
}
/*-- header --*/
.logo {
	float: left;
}
.header_right {
	float: right;
}
.head-t {
	padding: 1em 0;
}
.header_right{
	position:relative;
}
.login{
	position:absolute;
	left: -180%;
	top: 4%;

}

/*------------------menu----------------------*/
.mainmenu-area{
	background: #7c7d80;
	margin: 0;
	padding: 0;
}
.mean-container .mean-bar{
	background: #ff4c3b none repeat scroll 0 0;
	position: relative;
}
.mean-container .mean-bar:after{
	color: #fff;
	content: "Menu";
	display: block;
	font-size: 20px;
	left: 10px;
	position: absolute;
	text-transform: uppercase;
	top: 13px;
}
.mobile-menu-area{
	display: none;
}
.mainmenu{
	margin-left: 15px;
}
.mainmenu ul{}
.mainmenu ul li{
	float: right;
	position: relative;
}
.mainmenu ul li a{
	color: #FFFFFF;
	display: block;
	font-family: 'irsans', sans-serif;
	font-size: 13px;
	line-height: 50px;
	padding: 5px 30px 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 300ms ease 0s;
	box-sizing: border-box;
}
.mainmenu ul li:hover a{
	background: #FF0000 none repeat scroll 0 0;
	color: #fff;
}
.mainmenu ul li a.home{
	background: #801416 none repeat scroll 0 0;
	color: #fff;
}
.mainmenu ul li a:hover{}
.mainmenu ul li ul{
	background: #fff none repeat scroll 0 0;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	right: 0;
	width: 235px;
	z-index: 99;
	transform: scaleY(0);
	transform-origin: 0 0 0;
	transition: all 0.5s ease 0s;
}
.mainmenu ul li:hover ul{
	opacity: 1;
	transform: scaleY(1);
	visibility: visible;
}
.mainmenu ul li ul li{
	float: none;
	border-bottom: 1px solid #fff;
}
.mainmenu ul li ul li a{
	background: #ff4c3b none repeat scroll 0 0 !important;
	color: #fff !important;
	font-size: 12px;
	line-height: 35px;
	padding: 6px 15px 0;
	transition: all 0.5s ease 0s;
	text-align: right;
}
.mainmenu ul li ul li:last-child{
	border-bottom: 0px solid #fff;
}
.mainmenu ul li ul li a:hover{
	padding-left: 20px;
	background: #505050!important;
}
/*----------------------------------------*/

/*----*/
.slider{
	position:relative;
	margin:0 0 0.5em 0;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}
.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}
.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}
.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.callbacks_nav {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 34px;
	width: 34px;
	background:  url("../images/img-sprite.png") no-repeat -41px -3px;
}
.callbacks_nav.next {
	left: auto;
	background-position: -80px -3px;
	right: 0;
}

/*-- Brands --*/
.brands {
	border-top: 1px solid #C8C8C8;
	border-bottom: 1px solid #C8C8C8;
	padding: 20px 0;
	text-align:center;
	margin-left: 10%;
	width: 80%;
}

/*-- Brands  END--*/
/*-------------------------------*/
body.error .page-content{
	background-size: cover;
	position: relative;
	width: 1920px;
	height: 1080px;
}
body.error .page-content:after{
	content: "";
	position: absolute;
	background: #000;
	opacity: 0.6;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.erroe-page-content{
	position: relative;
	padding-bottom: 60px;
	z-index: 2;
}
.erroe-page-content h3{
	color: #fff;
	font-family: irsans;
	font-size: 34px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.erroe-page-content h1{
	color: #fff;
	font-family: irsans;
	font-size: 150px;
	font-weight: bold;
	text-align: center;
}
.erroe-page-content p{
	color: #fff;
	font-size: 34px;
	text-align: center;
}
@keyframes bubbles1
{
	0%  {opacity: 0; width:7px; height:7px; top:100px; left:70px;}
	25%  {opacity: .25; width:8px; height:8px;  top:90px; left:70px;}
	50%  {opacity: .5; width:9px; height:9px;  top:70px; left:70px;}
	75%  {opacity: .75; width:10px; height:10px;  top:60px; left:65px;}
	100%  {opacity: 0; width:11px; height:11px; top:30px; left:70px;}
}

@-webkit-keyframes bubbles1
{
	0%  {opacity: 0; width:5px; height:5px; top:100px; left:70px;}
	25%  {opacity: .25; width:6px; height:6px;  top:90px; left:70px;}
	50%  {opacity: .5; width:7px; height:7px;  top:50px; left:70px;}
	75%  {opacity: .75; width:9px; height:9px;  top:40px; left:65px;}
	100%  {opacity: 0; width:10px; height:10px; top:10px; left:75px;}
}
.cflask-holder span{
	min-width: 180px;
	min-height: 180px;
	width: 150px;
	display: block;
	background-color: #FFA200;
	margin:0px auto;
	text-align: center;
	border-radius: 150px;
	position: relative;
}
.cflask-holder span i{
	color: #fff;
	font-size: 120px;
	padding: 30px 0 0;
}
.cflask-holder span i span.err-text{
	background: transparent none repeat scroll 0 0;
	color: #D8041A;
	font-size: 40px;
	left: -71px;
	position: absolute;
	top: -13px;
}
.cflask-holder span i#b1{
	position: absolute;
	-webkit-animation: bubbles1 infinite linear 1s;
	animation: bubbles1 infinite linear 1s;
}
.cflask-holder span i#b2{
	position: absolute;
	-webkit-animation: bubbles1 infinite linear 2s;
	animation: bubbles1 infinite linear 2s;
}
.cflask-holder span i#b3{
	position: absolute;
	-webkit-animation: bubbles1 infinite linear 2.5s;
	animation: bubbles1 infinite linear 2.5s;
}
.search-form{
	margin-top: 20px;
}

input[type="submit"]:hover {
	background: #ffa200 none repeat scroll 0 0;
	border-color: #e68700;
}
.links-wrapper{
	margin-top: 30px;
}
ul.links{
	float: none;
	display: block;
	margin: 0px auto;
}
ul.links li{
	list-style-type: none;
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
ul.links li a{
	height: 50px;
	width: 50px;
	min-width: 50px;
	display: inline-block;
	padding: 3px 0px;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	color: #f06262;
	transition: all 0.3s ease 0s;
}
ul.links li a:hover{
	background-color: #f06262;
	color: #fff;
}
ul.links li a i{
	padding: 10px 0px;
}
.cflask-holder {
	margin-bottom: 15px;
}

/*off images*/
.new{
	margin:1.5em 0;
	font-size: 14pt;

}
.new-products{
	border-bottom: 1px solid #eee;
	padding-bottom: 1.5em;
}
.new h3,.top-sellers h3{
	text-align:center;
	font-size:2em;
	margin-bottom:0.5em;
	color: #026466;
}
.new-items{
	width:32%;
	float:left;
}
.new_middle{
	margin:0 2%;
}
.new-items img{
	width:100%;
}
.item1{
	padding:0px 0px 27px 0px;
	margin-right:1%;
	background:#eceaea;
}
.item-info {
	margin-top: 4em;
	margin-left: 16px;
}
.item-info3{
	margin-top:5em;
	padding-left:2em;
}
.item-info span,.item-info2 span,.item-info3 span,.item-info4 span,.item-info5 span,.item-info6 span{
	color:#000;
	font-size:0.7em;
	margin:7px 0;
	display:block;
}
.item-info h4 a,.item-info2 h4 a,.item-info3 h4 a,.item-info4 h4 a,.item-info5 h4 a,.item-info6 h4 a{
	font-size:1em;
	background:none;
	color:#5A5A5A;
	padding:0;
}
.item-info h4 a:hover,.item-info2 h4 a:hover,.item-info3 h4 a:hover,.item-info4 h4 a:hover,.item-info5 h4 a:hover,.item-info6 h4 a:hover{
	color:#026466;
	background:none;
}
.item-info a,.item-info2 a,.item-info3 a,.item-info4 a,.item-info5 a,.item-info6 a{
	font-size:0.8em;
	display:inline-block;
	background:#026466;
	padding:0.6em 2em;
	color:#fff;
	text-decoration:none;
	font-weight:500;
}
.item2{
	padding:0px 0px 0px;
	background:#eceaea;
	margin-bottom:1.8em;
}
.item3{
	padding:0px 0px 26px;
	background:#eceaea;
}
.item4{
	background:#eceaea;;
	margin-top:1.5em;
}
.item5{
	background:#eceaea;
	margin-top: 10px;
}
.item6{
	margin-top:2.4em;
	padding:0px 0px 16px 0px;
}
.item-info4{
	margin-top:1.5em;
	padding:0 0 18px 36px;
}
.item-info5{
	margin-top:4.4em;
	padding:0 0 26px 36px;
}
.item-info6{
	padding-left: 1.5em;
	background:#eceaea;
}

/*----*/
.recommendation{/* check1 */
	margin-top:1em;
	border-bottom: 1px solid #eee;
	padding-bottom: 1em;
}
.recmnd-head h3 {
	text-transform: uppercase;
	font-size: 1.5em;
	margin-bottom: 2em;
	color: #026466;
	text-align: center;
}
/*----*/

#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
}
.nbs-flexisel-item > a img {
	cursor: pointer;
	position: relative;
	max-width:300px;
	max-height:100px;
}
ul#flexiselDemo1 h4 a {
	margin: 25px 0 8px 0;
	font-size: 0.9em;
	display: block;
	color:#999;
}
ul#flexiselDemo1 h4 a:hover {
	color: #026466;
	text-decoration: none;
}
ul#flexiselDemo1 p{
	font-size: 0.8em;
}
@media (max-width:1280px){
	.nbs-flexisel-nav-left {
		left: -50px;
	}
	.nbs-flexisel-nav-right {
		right: -50px;
	}
}
@media (max-width: 1024px){
	.nbs-flexisel-nav-left {
		left: -25px;
		top: 25.5px!important;
	}
	.nbs-flexisel-nav-right {
		right: -32px;
		top: 25.5px!important;
	}
	.rsidebar {
		margin: 1em 1em 0% 0;
	}
	.check {
		width: 100%;
		margin-top: 1em;
	}
	.form-control {
		width: auto!important;
	}
	.single-right {
		width: 50%;
	}
}
@media (max-width: 768px){
	.social i {
		height: 24px;
		background: url('../images/social2.png') no-repeat 0px 0px;
		margin: 0 0px;
	}
	.search input[type="submit"] {
		top: 6px;
	}
	.top_left ul {
		vertical-align: text-top;
	}
	.search {
		width: 45%;
	}
	.search input[type="text"] {
		padding: 10px 10px 10px 15px;
	}
	.sofa-grid {
		float: left;
	}
	.sofa-grid h3 {
		padding: 0.5em 0;
		font-size: 1.2em;
		top: 31%;
	}
	.sofa-grid h4 a {
		padding: 10px 0;
		font-size: 11px;
	}
	.new {
		margin: 1em 0;
	}
	.new h3, .top-sellers h3 {
		font-size: 1.3em;
	}
	.item-info {
		margin-top: 2em;
	}
	.item-info3 {
		margin-top: 3em;
	}
	.item-info a, .item-info2 a, .item-info3 a, .item-info4 a, .item-info5 a, .item-info6 a {
		font-size: 0.65em;
	}
	.item-info5 {
		margin-top: 3.3em;
		padding: 0 0 26px 26px;
	}
	.item-info4 {
		margin-top: 2em;
		padding: 0 0 26px 26px;
	}
	.item-info6 {
		margin-bottom: 1em;
		margin-top: 7px;
	}
	.seller-grid {
		float: left;
		width: 25%;
	}
	.nbs-flexisel-nav-left {
		left: 0px;
	}
	.nbs-flexisel-nav-right {
		right: -9px;
	}
	.nbs-flexisel-item{
		width:237px!important;
	}
	.ftr-grid {
		width: 48%;
		float: left;
		margin:0 2% 2% 0;
	}
	.footer-content{
		padding: 2em 0 0 0;
	}
	.contact-left,.contact-right {
		padding: 0;
	}
	.login-right {
		padding: 0;
		margin-top: 2em;
	}
	.login_sec {
		padding: 3em 0 2em 0;
	}
	.rsidebar {
		width: 100%;
		margin: 0em 2em 0% 0;
	}
}
@media (max-width: 736px){
	.item-info h4 a, .item-info2 h4 a, .item-info3 h4 a, .item-info4 h4 a, .item-info5 h4 a, .item-info6 h4 a {
		font-size: 0.9em;
	}
	.nbs-flexisel-item {
		width: 228px!important;
	}
}
@media (max-width: 667px){
	.top_left ul li a {
		padding: 1px 0px;
	}
	.top_left ul {
		vertical-align: middle;
	}
	.recmnd-head h3 {
		font-size: 1em;
	}
	.item_quantity {
		width: 100%;
	}
	.b-animate button {
		font-size: 0.6em;
		width: 73%;
	}
	.product-info.simpleCart_shelfItem {
		margin-top: 15px;
	}
	.single-right {
		width: 33%;
	}
	.single-right h3 {
		font-size: 0.8em;
		line-height: 1.5em;
	}
	.sofaset-info ul li {
		padding: 5px 0;
		font-size: 0.8em;
	}
}
@media (max-width: 568px){
	.logo {
		width: 19%;
		margin-top: 8px !important;
	}
	.recommendation {/* check2 */
		margin-top: 0.5em;
	}

	.registration_left {
		width: 100%;
	}
	.registration_left {
		width: 100%;
		margin-left: 0;
		margin-top:0em;
	}
	.registration {
		padding: 0em 0% 1.5em 0;
	}
	.log h5 {
		font-size: 1em;
		padding-bottom: 7px;
	}
	.login_sec h2,.login-right h3 {
		font-size: 1.3em;
	}
	.login_sec {
		padding: 0;
	}
	.cart-total {
		width: 100%;
	}
	.cart-item {
		width: 80%;
		margin-right: 0%;
	}
	.cart-item-info h3 {
		font-size: 0.9em;
	}
	.cart-item-info h4 {
		font-size: 1.2em;
		margin: 0.5em 0 0.5em;
	}
	.delivery {
		margin: 1em 0 0 0em;
	}
	.copywrite {
		text-align: center;
	}
	.log form input[type="text"], .log form input[type="password"] {
		width: 100%;
	}
	.contact {
		padding: 0em 0 2em 0;
	}
	.address {
		padding: 2em 0 0 0;
	}
	a.continue {
		padding: 8px 1em;
		font-size: 0.9em;
		margin: 0px auto 2em auto;
	}
	.price-details h3 {
		font-size: 0.9em;
	}
	.price-details span {
		font-size: 0.8em;
	}
	h4.last-price {
		font-size: 0.9em;
	}
	a.order{
		font-size:0.8em;
	}
}
@media (max-width: 375px){
	.seller-grid {
		width: 100%;
		padding: 0 0px;
	}
	.nbs-flexisel-item {
		width: 331px!important;
	}
	.copywrite {
		text-align: center;
	}
}
@media (max-width: 320px) {
	.nbs-flexisel-item {
		width: 279px !important;
	}

	.sofa-grid h3 {
		font-size: 0.6em;
		top: 24%;
	}

	.new_middle {
		margin: 0 0% 0 0%;
	}

	.new-items, .item3, .item6 {
		width: 100%;
	}

	.item3, .item6 {
		margin-top: 1em;
	}

	.item6 {
		margin-left: 0;
	}

	.det {
		padding: 0;
	}

	.navbar-form {
		padding: 0px 15px !important;
	}

	.navbar-form .form-group {
		margin-bottom: 0px;
		display: inline-block;
	}

	.locations ul {
		margin-bottom: 1em;
	}

	.address {
		padding: 2em 0 1em 0;
	}

	.locations {
		margin-top: 2em;
	}

	.login a {
		font-size: 10px;
		padding: 7px 9px;

	}

	.login {
		left: -51%;

	}

	.contact {
		padding: 0em 0 2em 0;
	}
	.login_sec {
		padding: 0em 0 2em 0;
	}

	.checkbox {
		font-size: 0.8em
	}

	.callbacks_nav {
		top: 37%;
		left: 1px;
		height: 28px;
		width: 21px;
		background-size: 109px;
	}

	.logo {
		width: 31%;
		margin-top: 6px;
	}
}
/*-- news-letter-ends-here --*/
/*-- footer-starts-here --*/
.promo-area .zigzag-bottom, .brands-area .zigzag-bottom{background: #f4f4f4}
.single-promo {
	font-size: 25px;
	font-weight: 200;
	padding: 20px 10px;
	text-align: center;
}
.maincontent-area {padding-bottom: 50px; padding-top:20px;}

.single-wid-product {
	margin-bottom: 31px;
	overflow: hidden;
}
.product-thumb {
	float: right;
	height: 90px;
	margin-right: 25px;
	width: 100px;
}
.single-wid-product h2 {
	font-size: 14px;
	margin-bottom: 12px;
}
.product-wid-rating {
	color: #ffc808;
	margin-bottom: 10px;
}


.wid-view-more {
	background: none repeat scroll 0 0 #801416;;
	color: #fff;
	padding: 3px 12px;
	position: absolute;
	right: 240px;
	top: 3px;
	width: 100px;
	border-radius:7px;
	text-align: center;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
	font-size: 12px;
	margin-bottom: 10px;
	height: 25px;
}
.wid-view-more:hover {
	background-color: #fff;
	color: #FF0000;
	text-decoration: none;
	border: 2px solid  #b50906;

}
.wid-view-more::before{
	border-color: #FF0000;
	border-radius: 4px;
}
.wid-view-more::after{
	border-color: #b50906;
	border-radius: 5px;
}
.wid-view-more:hover::before{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	opacity: 1;
}

.single-product-widget {
	position: relative;
}
.product-widget-area {
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: right;
}
.product-widget-area .zigzag-bottom{background: #f4f4f4;}
.zigzag-bottom{background: #f4f4f4}
.footer-top-area {background: none repeat scroll 0 0 #333;
	color: #999;
	padding: 35px 0 180px;}
.product-wid-title {
	font-family: 'irsans';
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 40px;
}


.single-wid-product {
	margin-bottom: 31px;
	overflow: hidden;
}
.product-thumb {
	float: left;
	height: 90px;
	margin-right: 15px;
	width: 100px;
}
.single-wid-product h2 {
	font-size: 14px;
	margin-bottom: 12px;
}
.product-wid-rating {
	color: #ffc808;
	margin-bottom: 10px;
}
.product-wid-price ins {
	color: #ff0000;
	font-weight: 700;
	margin-right: 10px;
	text-decoration: none;
}
.single-wid-product h2 a {
	color: #222;
}
.single-wid-product h2 a:hover, .single-product h2 a:hover {
	color: #5a88ca;
}

/* footer */
.footer-bottom {
	background: #D6D6D0;
	padding-top: 10px;
	font-size: 10px;
}

.footer-bottom p {
	color: #363432;
	font-weight: 200;
	margin-left: 15px;
	font-size: 12px;
}

.footer-bottom p span a {
	color: #FE980F;
	font-style: italic;
	text-decoration: underline;
}

.searchform input {
	border: 1px solid #DDDDDD;
	color: #CCCCC6;
	font-size: 14px;
	margin-top: 0;
	outline: medium none;
	padding: 7px;
	width: 212px;
}
.searchform button {
	background: #FE980F;
	border: medium none;
	border-radius: 0;
	margin-left: -2px;
	margin-top: 0px;
	padding: 6px 15px;
	display: inline-block;
	position: absolute;
}
.searchform button i {
	color: #FFFFFF;
	font-size: 20px;
}
.searchform  button:hover,
.searchform  button:focus{
	background-color:#FE980F;
}
.searchform p {
	color: #8C8C88;
	font-size: 12px;
	font-weight: 200;
	margin-top:-20px;
	margin-bottom: 5px;

	text-align: right;
}
#footer {
	background:#eceaea;
}
.footer-top{
	margin: 0 auto;
}

.footer-top .container {
	border-bottom: 1px solid #E0E0DA;
	padding-bottom: 20px;
	box-sizing: border-box;
	box-shadow: 0 2px 0 rgba(255,255,255,0.5);
}
.companyinfo {
	margin-top: 57px;
}

.companyinfo h2 {
	color: #B4B1AB;
	font-size: 27px;
	text-transform: uppercase;
}

.companyinfo h2  span{
	color:#801416;
}

.companyinfo p {
	color: #B3B3AD;
	font-size: 12px;
	font-weight: 300;
}
#footer .social {
	text-align: right;
}

#footer .social a {
	margin: 0 10px 0 0;
	color: #fff;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	line-height: 26px;
	font-size: 15px;
	text-align: center;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	vertical-align: bottom;
	background-color: #555555;
}

#footer .social a i {
	vertical-align: bottom;
	line-height: 30px;
}

#footer .social a.facebook:hover {
	background-color: #4460ae;
}

#footer .social a.gplus:hover {
	background-color: #c21f25;
}

#footer .social a.twitter:hover {
	background-color: #3cf;
}

#footer .social a.instagram:hover {
	background-color: #cd4378;
}

#footer .social a.email:hover {
	background-color: #4a7f45;
}
.single-widget hr{
	width: 250px;
	height: 2px;
	box-shadow: 0 2px 0 rgba(255,255,255,0.5);
}
.single-widget h4{
	text-align: right;
}
.footer-top .col-sm-3{
	overflow: hidden;
}

.video-gallery {
	margin-top: 57px;
	position: inherit;
}

.video-gallery a img {
	height: 100%;
	width: 100%;
}

.iframe-img {
	position: relative;
	display: block;
	height: 61px;
	margin-bottom: 10px;
	border: 2px solid #CCCCC6;
	border-radius: 3px;
}

.overlay-icon {
	position: absolute;
	top: 0;
	width: 100%;
	height: 61px;
	background: #FE980F;
	border-radius: 3px;
	color: #FFF;
	font-size: 20px;
	line-height: 0;
	display: block;
	opacity: 0;
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
}

.overlay-icon i {
	position: relative;
	top: 50%;
	margin-top: -20px;
}

.video-gallery a:hover .overlay-icon{
	opacity: 1;
}

.video-gallery p {
	color: #8C8C88;
	font-size: 12px;
	font-weight: 500;
	margin-bottom:0px;
}

.video-gallery  h2 {
	color: #8c8c88;
	font-size: 12px;
	font-weight: 300;
	text-transform:uppercase;
	margin-top:0px;
}


.address {
	margin-top: 30px;
	position: relative;
	overflow: hidden;
}
.address  img {
	width:100%;
}

.address p {
	color: #666663;
	font-size: 14px;
	font-weight: 300;
	left: 70px;
	position: absolute;
	top: 115px;
}
.commnets
.media-object {
	margin-right: 15px;
	width: 100%;
}

.commnets {
	border: 1px solid #F7F7F0;
	padding: 18px 18px 18px 0;
	margin-bottom: 50px
}

.commnets .pull-left {
	margin-right: 22px
}

.commnets p,
.response-area p,
.replay-box p {
	font-size: 12px
}
.btn1:hover,
.btn1:focus{
	outline: none;
	box-shadow: none;
}
.footer-widget {
	margin-bottom: 30px;
}
.footer-widget .container {
	border-top: 1px solid #FFFFFF;
	padding-top: 15px;
}

.single-widget h2 {
	color: #666663;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 22px;
	text-align: right;
}

.single-widget h2 i{
	margin-right:15px;
}

.single-widget ul li a{
	color: #8C8C88;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
	text-align: right;
}

.single-widget ul li a i {
	margin-right: 18px;
}

.single-widget ul li a:hover{
	background:none;
	color:#FE980F;
}
.single-widget{
	text-align: right;
}


/*--gallery--*/
.gallery-grids.gallery-grids-mdl {
	margin: 2em 0;
}
.gallery-grids:nth-child(5) {
	float: right;
}
.gallery-grids a {
	display: block;
	overflow: hidden;
	position:relative;
}
.b-wrapper {
	background: rgba(0, 0, 0, 0.58);
	position: absolute;
	width: 100%;
	height: 0%;
	top: 0;
	left: 0;
	transition:.5s all;
	opacity: 0;
}
.gallery-grids a:hover .b-wrapper{
	height: 100%;
	opacity: 1;
}
.b-wrapper {
	text-align: center;
	padding: 19% 0;
}
.b-wrapper h5 {
	font-size: 3em;
	color: #1ABC9C;
	margin: .5em 0 .3em;
}
.b-wrapper h6 {
	color: #fff;
	font-size: 2.8em;
	font-weight: 600;
}
.b-wrapper p {
	color: #fff;
}
.gallery-grids.gallery-one .b-wrapper {
	padding: 39% 0;
}
.title {
	margin-bottom: 3em;
	margin-top: 2.5em;
}

.title h3{
	text-align: center;
	font-size: 2em;
}
img.zoom-img{
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	-o-transition-duration: .5s;
}
img.zoom-img:hover,.gallery-grids a:hover img.zoom-img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	-ms-transition-duration: 750ms;
	-o-transition-duration: 750ms;
	overflow: hidden;
}
/*-- //gallery --*/
/* breadcrumbs */
.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border-radius: 0;
	text-align: right;
	direction: rtl;
}

.breadcrumb > li + li:before {
	content: ">\00a0";
	color: #cccccc;
}

.breadcrumb > .active {
	color: #999999;
}
.breadcrumb {
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width: 991px) {
	.breadcrumb {
		padding: 8px 0;
		text-align: center;
	}
}
a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #d9c381;

}
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}


